body {
  background-image: url(/glassesImage/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

header {
  background-color: #000;
  opacity: 0.8;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 1em 0;
}

#model {
  padding: 2em 0;
  position: relative;
  background-color: #808080ba;
}

#model img {
  height: 18em;
}

#model img:first-child {
  margin-right: 10em;
}

#model img:nth-child(3) {
  width: 8.5em;
  height: 2.5em;
  position: absolute;
  top: 30%;
  left: 32.69%;
}

.glass-description {
  width: 236px;
  position: absolute;
  top: 62%;
  left: 29.5%;
  background-color: orange;
  opacity: 0.6;
}

.glass-description h3 {
  color: purple;
  margin: 0;
}

#glasses {
  padding: 1em;
  background-color: #fff;
  display: flex;
  justify-items: center;
  align-items: center;
}

#glasses img {
  padding: 0.5em;
  width: 7em;
  height: 2em;
  margin: 2em 1em;
  cursor: pointer;
  border: 1px solid #808080ba;
}
