html {
  box-sizing: border-box;
}

header {
  background-color: #343a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 15px;
  color: #fff;
  margin: 0 2em;
}

h3 {
  margin: 0;
}

ul li {
  list-style: none;
  display: inline;
  color: #fff;
  margin: 0 2em;
}

img {
  width: 100%;
}

#carousel img {
  height: 40em;
}

#productList {
  background-color: #343a40;
  padding: 2em 0;
}

#productList h1,
#promotion h1 {
  text-align: center;
  font-size: 20px;
}

.row {
  display: flex;
  align-items: center;
}

.product-item {
  width: 25%;
  background-color: #fff;
  padding: 1em;
  margin: 1em 0.5em;
}

.product-item img {
  height: 28em;
}

.product-item button {
  padding: 1em 2.5em;
  margin: 0 0.3em;
  color: #fff;
  border: none;
  border-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
}

.product-item button:hover {
  opacity: 0.6;
  transition: all 0.5s ease;
}

.product-item button:nth-child(4) {
  background-color: blue;
}

.product-item button:nth-child(5) {
  background-color: red;
}

#promotion {
  background-color: #343a40;
  padding: 2em 4em;
}

.promotion-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 2em;
  background-color: #fff;
}

.promotion-list img {
  margin: 0 1em;
}
